body {
	font-family: georgia;
}

header {
	background: #81BEF7;
	width: 100%;
	padding: 1%;
}

header ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
	background-color: rgba(255,255,255,0.1);
	overflow: hidden;   
}

li {
	float: left;
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
	color: #81BEF7;
}

h1 {
	font-family: simplifica, helvetica, sans-serif;
	font-size: 6em;
}